@font-face {
  font-family: intv; /* set name */
  src: url(/web/intellivision.ttf); /* url of the font */
}

body {
  color: #FFF;
  background-image: url("/web/zine/intv.png");
  padding: 75px;
}

.main {
  background-color: #006;
  padding: 10px;
  font-family: intv;
  border-radius: 10px;
}
.header {
  background-color: #008;
}
.text {
  background-color: #008;
}
